<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gangadri</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<body>
    <div class="grid-container">
        <!-- HEADER  -->
        <header class="row" >
            <div>
                <a class="brand" href="index.html">Gangadri</a>
            </div>
            <div>
                <a href="cart.html">Cart</a>
                <a href="signin.html">SignIn</a>
            </div>
        </header>
        <!-- MAIN  -->
        <main>
            <div class="row center">
                <!-- Product 1 -->
                <div class="card">
                    <!-- Image size id : 680px by 830px -->
                    <a href="product.html">
                        <img class="medium" src="./images/p1.jpeg" alt="product">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Tommy Hillfiger T-Shirt</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                        </div>
                        <div class="price">
                            <h4>Rs. 1200</h4>
                        </div>
                    </div>
                </div>

                <!-- Product-2 -->
                <div class="card">
                    <!-- Image size id : 680px by 830px -->
                    <a href="product.html">
                        <img class="medium" src="./images/p2.jpeg" alt="product">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Puma T-Shirt</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                        </div>
                        <div class="price">
                            <h4>Rs. 499</h4>
                        </div>
                    </div>
                </div>
                <!-- Product-3  -->
                <div class="card">
                    <!-- Image size id : 680px by 830px -->
                    <a href="product.html">
                        <img class="medium" src="./images/p3.jpeg" alt="product">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Van Huesan T-Shirt</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                        </div>
                        <div class="price">
                            <h4>Rs. 299</h4>
                        </div>
                    </div>
                </div>
                <!-- Product 4  -->
                <div class="card">
                    <!-- Image size id : 680px by 830px -->
                    <a href="product.html">
                        <img class="medium" src="./images/p4.jpeg" alt="product">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Adidas Slim T-Shirt</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                        </div>
                        <div class="price">
                            <h4>Rs. 1200</h4>
                        </div>
                    </div>
                </div>
                <!-- Product 5  -->
                <div class="card">
                    <!-- Image size id : 680px by 830px -->
                    <a href="product.html">
                        <img class="medium" src="./images/p5.jpeg" alt="product">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Arrow Slim T-Shirt</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                        </div>
                        <div class="price">
                            <h4>Rs. 849</h4>
                        </div>
                    </div>
                </div>
                <!-- Product 6  -->
                <div class="card">
                    <!-- Image size id : 680px by 830px -->
                    <a href="product.html">
                        <img class="medium" src="./images/p6.jpeg" alt="product">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Levis T-Shirt</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                        </div>
                        <div class="price">
                            <h4>Rs. 1120</h4>
                        </div>
                    </div>
                </div>
                <!-- Product 7  -->
                <div class="card">
                    <!-- Image size id : 680px by 830px -->
                    <a href="product.html">
                        <img class="medium" src="./images/p7.jpeg" alt="product">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Roadstar Slim T-Shirt</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                        </div>
                        <div class="price">
                            <h4>Rs. 449</h4>
                        </div>
                    </div>
                </div>
                <!-- Product 8  -->
                <div class="card">
                    <!-- Image size id : 680px by 830px -->
                    <a href="product.html">
                        <img class="medium" src="./images/p8.jpeg" alt="product">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Wrangler Slim T-Shirt</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                        </div>
                        <div class="price">
                            <h4>Rs. 1800</h4>
                        </div>
                    </div>
                </div>
                <!-- Product 9  -->
                <div class="card">
                    <!-- Image size id : 680px by 830px -->
                    <a href="product.html">
                        <img class="medium" src="./images/p14.jpeg" alt="product">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Nyka Slim T-Shirt</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                        </div>
                        <div class="price">
                            <h4>Rs. 290</h4>
                        </div>
                    </div>
                </div>
                <!-- Product 10  -->
                <div class="card">
                    <!-- Image size id : 680px by 830px -->
                    <a href="product.html">
                        <img class="medium" src="./images/p10.jpeg" alt="product">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Wildcraft Slim T-Shirt</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                        </div>
                        <div class="price">
                            <h4>Rs. 800</h4>
                        </div>
                    </div>
                </div>
                <!-- Product 11  -->
                <div class="card">
                    <!-- Image size id : 680px by 830px -->
                    <a href="product.html">
                        <img class="medium" src="./images/p11.jpeg" alt="product">
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>Nike T-Shirt</h2>
                        </a>
                        <div class="rating">
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                        </div>
                        <div class="price">
                            <h4>Rs. 390</h4>
                        </div>
                    </div>
                </div>


            </div>
        </main>
        <!-- FOOTER  -->
        <footer class="row center">
            All rights reserved &reg;
        </footer>
    </div>
</body>
</html>